name: Build APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential libffi-dev python3-dev
          pip install --upgrade pip buildozer cython kivy
      - name: Build with Buildozer
        run: yes | buildozer android debug
        
