name: Build APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python_version: 3.8
      - name: Install Buildozer
        run: |
          pip install --upgrade buildozer
          pip install --upgrade cython
      - name: Build with Buildozer
        run: buildozer android debug
        
