name: Build APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Android Build Dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential git ffmpeg libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev zlib1g-dev libffi-dev libssl-dev autoconf automake libtool pkg-config cmake openjdk-17-jdk 
          pip install --upgrade pip
          pip install --upgrade Cython==0.29.33 buildozer kivy pyTelegramBotAPI requests urllib3 certifi chardet idna pillow

      - name: Build with Buildozer
        run: |
          yes | buildozer android debug
        env:
          ACCEPT_SDK_LICENSE: "yes"
          
